body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:aliceblue;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 0;
}

.logo{
    color: white;
    font-size: 25px;
    margin-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 3px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 3px 10px;
}

nav ul li a.active, nav ul li a:hover {
    color: orange;
}

.carousel{
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item{
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



footer {
    background-color: black;
    color: white;
    padding: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: auto;
}

.footer-section h4 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid orange;
    display: inline-block;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #ff6600;
    color: black;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

